PORT=3000

# Binance API Keys
BINANCE_API_KEY="COLOQUE_SUA_API_KEY_AQUI"
BINANCE_API_SECRET="COLOQUE_SEU_API_SECRET_AQUI"

# Set to true to use Testnet (Simulador) or false for Real
BINANCE_TESTNET=true
